*.iml
.gradle
/local.properties
/build
.idea/
/app/build
.gitignore
build.gradle
proguard-rules.pro
src/
pulltorefresh/build/generated/assets/
pulltorefresh/build/generated/res/
pulltorefresh/build/generated/source/aidl/
pulltorefresh/build/generated/source/apt/
pulltorefresh/build/generated/source/rs/
pulltorefresh/build/intermediates/bundles/debug/aidl/
pulltorefresh/build/intermediates/bundles/debug/assets/
pulltorefresh/build/intermediates/bundles/debug/jni/
pulltorefresh/build/intermediates/bundles/debug/libs/
pulltorefresh/build/intermediates/dependency-cache/
pulltorefresh/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
pulltorefresh/build/intermediates/incremental/packageDebugAndroidTest/
pulltorefresh/build/intermediates/incremental/packageDebugResources/aapt-temp/
pulltorefresh/build/intermediates/incremental/processDebugAndroidTestResources/
pulltorefresh/build/intermediates/incremental/processDebugResources/
pulltorefresh/build/intermediates/jniLibs/
pulltorefresh/build/intermediates/lint/
pulltorefresh/build/intermediates/manifest/tmp/
pulltorefresh/build/intermediates/rs/
pulltorefresh/build/intermediates/shaders/
pulltorefresh/build/intermediates/transforms/
pulltorefresh/build/tmp/
xrecyclerview/build/generated/assets/
xrecyclerview/build/generated/res/
xrecyclerview/build/generated/source/aidl/
xrecyclerview/build/generated/source/apt/
xrecyclerview/build/generated/source/rs/
xrecyclerview/build/intermediates/bundles/debug/aidl/
xrecyclerview/build/intermediates/bundles/debug/assets/
xrecyclerview/build/intermediates/bundles/debug/jni/
xrecyclerview/build/intermediates/bundles/debug/libs/
xrecyclerview/build/intermediates/dependency-cache/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/aidl/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/assets/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/jni/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/libs/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/res/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/aidl/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/assets/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/jni/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/libs/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/design/23.4.0/aidl/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/design/23.4.0/assets/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/design/23.4.0/jni/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/design/23.4.0/libs/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.4.0/aidl/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.4.0/assets/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.4.0/jni/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.4.0/libs/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/assets/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/jni/

xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/libs/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/res/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/aidl/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/assets/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/jni/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/libs/
xrecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/res/
xrecyclerview/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
xrecyclerview/build/intermediates/incremental/mergeDebugResources/aapt-temp/
xrecyclerview/build/intermediates/incremental/packageDebugAndroidTest/
xrecyclerview/build/intermediates/incremental/packageDebugResources/aapt-temp/
xrecyclerview/build/intermediates/incremental/processDebugAndroidTestResources/
xrecyclerview/build/intermediates/incremental/processDebugResources/
xrecyclerview/build/intermediates/jniLibs/
xrecyclerview/build/intermediates/lint/
xrecyclerview/build/intermediates/manifest/tmp/
xrecyclerview/build/intermediates/rs/
xrecyclerview/build/intermediates/shaders/
xrecyclerview/build/intermediates/transforms/
xrecyclerview/build/tmp/
