<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hifunki.funki">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />

        <!-- 游客必填信息页 -->
        <activity android:name=".ui.activity.VisitorFillActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>、
        <!--登录界面-->
        <activity android:name=".ui.activity.LoginActivity" />
        <!--国家列表页-->
        <activity android:name=".ui.activity.CountyListActivity" />
        <!--注册界面-->
        <activity android:name=".ui.activity.RegisterActivity" />
        <!-- 图形验证码界面 -->
        <activity android:name=".ui.activity.PwdGraphActivity" />
        <!-- 邮箱验证码界面 -->
        <activity android:name=".ui.activity.EmailGraphActivity" />
        <!-- 找回密码界面 -->
        <activity android:name=".ui.activity.FindPwdActivity" />
        <!--注册认证界面-->
        <activity android:name=".ui.activity.RegisterAuthActivity"></activity>
    </application>

</manifest>