<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hifunki.funki">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".base.application.ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/iv_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主布局 -->
        <activity
            android:name=".module.home.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.EighteenBearActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity android:name=".module.login.MainActivity" />

        <!-- 游客必填信息页 -->
        <activity
            android:name=".module.login.VisitorFillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- android:launchMode="singleTop" -->
        <!-- 登录界面 -->
        <activity
            android:name=".module.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 国家列表页 -->
        <activity
            android:name=".module.login.CountyListActivity"
            android:screenOrientation="portrait" />
        <!-- 注册界面 -->
        <activity
            android:name=".module.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 图形验证码界面 -->
        <activity
            android:name=".module.login.PwdGraphActivity"
            android:screenOrientation="portrait" />
        <!-- 邮箱验证码界面 -->
        <activity
            android:name=".module.login.EmailGraphActivity"
            android:screenOrientation="portrait" />
        <!-- 找回密码界面 -->
        <activity android:name=".module.login.FindPwdActivity" />
        <!-- 注册认证界面 -->
        <activity
            android:name=".module.login.RegisterAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.SetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.PwdSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.CountryResultActivity"
            android:screenOrientation="portrait" />
        <!-- 图片列表页 -->
        <activity android:name=".module.photo.gallery.activity.PhotoActivity" />
        <activity
            android:name=".module.photo.gallery.activity.GalleryPickActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.photo.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 用于头像上传模块 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hifunki.funki.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".module.photo.gallery.activity.GalleryVpActivity" />
        <!-- 账号基本类 -->
        <activity android:name=".base.activity.AccountBaseActivity" />
        <activity android:name=".module.search.activity.SearchActivity" />
        <!-- 世界总榜 -->
        <activity android:name=".module.rank.world.activity.WorldRankActivity" />
        <!-- 节目预告 -->
        <activity android:name=".module.show.activity.ShowActivity" />

        <!-- 用户头像认证 -->
        <activity android:name=".module.home.user.UserAvatarActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <!-- 个人中心榜单 -->
        <activity android:name=".module.rank.me.activity.MeRankActivity" />
        <!-- 个人中心账单 -->
        <activity android:name=".module.bill.activity.BillActivity" />
        <activity android:name=".module.bill.activity.LiveIncomeActivity" />
        <activity android:name=".module.show.activity.ShowDetailActivity" />
        <activity android:name=".module.fans.activity.MyFansActivity"></activity>
    </application>

</manifest>